:root {
    --grid-size: 1;
}

* {
    box-sizing: border-box;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
}

#container{
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    height: 95vh;
    width: 960px;
}

.grid-items{
    border: 1px solid black;
}